# ¬@Task 9 to 11
## (Farm production dataset)

# Data loading

In [44]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

df = pd.read_csv("farm_production_dataset.csv")
df

,REF_DATE,GEO,Type of crop,Average farm price (dollars per tonne),Average yield (kilograms per hectare),Production (metric tonnes),Seeded area (acres),Seeded area (hectares),Total farm value (dollars)
0,1908,AB,Barley,15.00,1585.0,84000.0,129800.0,53000.0,1296
1,1908,AB,Flaxseed,29.00,950.0,1900.0,5900.0,2000.0,56
2,1908,AB,Oats,18.00,1675.0,352000.0,519400.0,210000.0,6316
3,1908,AB,"Rye, all",23.00,1665.0,5000.0,6500.0,3000.0,117
4,1908,AB,Sugar beets,0.55,18100.0,38100.0,5200.0,2100.0,208
...,...,...,...,...,...,...,...,...,...
10268,1984,SK,Tame hay,78.00,2870.0,2087000.0,1800000.0,728000.0,162786
10269,1984,SK,"Wheat, all",176.00,1420.0,11485000.0,20000000.0,8094000.0,2026204
10270,1984,SK,"Wheat, durum",188.00,1200.0,1633000.0,3350000.0,1356000.0,307004
10271,1984,SK,"Wheat, spring",175.00,1460.0,9607000.0,16300000.0,6596000.0,1681225
10272,1984,SK,"Wheat, winter remaining",155.00,1730.0,245000.0,NaN,NaN,37975

# Data Exploration

In [45]:
print(f"Number of Rows: {df.shape[0]}\nNumber of Columns: {df.shape[1]}")

Number of Rows: 10273
Number of Columns: 9

In [46]:
df.head(6)

,REF_DATE,GEO,Type of crop,Average farm price (dollars per tonne),Average yield (kilograms per hectare),Production (metric tonnes),Seeded area (acres),Seeded area (hectares),Total farm value (dollars)
0,1908,AB,Barley,15.00,1585.0,84000.0,129800.0,53000.0,1296
1,1908,AB,Flaxseed,29.00,950.0,1900.0,5900.0,2000.0,56
2,1908,AB,Oats,18.00,1675.0,352000.0,519400.0,210000.0,6316
3,1908,AB,"Rye, all",23.00,1665.0,5000.0,6500.0,3000.0,117
4,1908,AB,Sugar beets,0.55,18100.0,38100.0,5200.0,2100.0,208
5,1908,AB,Tame hay,0.84,5050.0,101000.0,57100.0,20000.0,846

In [47]:
df.tail(4)

,REF_DATE,GEO,Type of crop,Average farm price (dollars per tonne),Average yield (kilograms per hectare),Production (metric tonnes),Seeded area (acres),Seeded area (hectares),Total farm value (dollars)
10269,1984,SK,"Wheat, all",176.0,1420.0,11485000.0,20000000.0,8094000.0,2026204
10270,1984,SK,"Wheat, durum",188.0,1200.0,1633000.0,3350000.0,1356000.0,307004
10271,1984,SK,"Wheat, spring",175.0,1460.0,9607000.0,16300000.0,6596000.0,1681225
10272,1984,SK,"Wheat, winter remaining",155.0,1730.0,245000.0,NaN,NaN,37975

In [48]:
df.describe()

,REF_DATE,Average farm price (dollars per tonne),Average yield (kilograms per hectare),Production (metric tonnes),Seeded area (acres),Seeded area (hectares),Total farm value (dollars)
count,10273.000000,10243.000000,10246.000000,1.024500e+04,9.873000e+03,9.847000e+03,1.027300e+04
mean,1947.661053,59.633078,3647.442319,1.010887e+06,1.310067e+06,5.316231e+05,5.490084e+04
std,22.204519,90.920549,8068.854966,3.044681e+06,4.881387e+06,1.978043e+06,2.502413e+05
min,1908.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1929.000000,21.000000,1055.000000,8.300000e+03,1.050000e+04,4.350000e+03,3.690000e+02
50%,1948.000000,43.000000,1485.000000,7.195000e+04,8.300000e+04,3.400000e+04,3.006000e+03
75%,1967.000000,76.000000,2363.750000,5.480000e+05,5.831000e+05,2.389000e+05,1.954100e+04
max,1984.000000,6663.300000,460305.000000,1.336790e+08,3.172035e+08,1.283890e+08,4.654194e+06

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10273 entries, 0 to 10272
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   REF_DATE                                10273 non-null  int64
 1   GEO                                     10273 non-null  object
 2   Type of crop                            10272 non-null  object
 3   Average farm price (dollars per tonne)  10243 non-null  float64
 4   Average yield (kilograms per hectare)   10246 non-null  float64
 5   Production (metric tonnes)              10245 non-null  float64
 6   Seeded area (acres)                     9873 non-null   float64
 7   Seeded area (hectares)                  9847 non-null   float64
 8   Total farm value (dollars)              10273 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 722.4+ KB

In [50]:
df.columns

Index(['REF_DATE', 'GEO', 'Type of crop',
       'Average farm price (dollars per tonne)',
       'Average yield (kilograms per hectare)', 'Production (metric tonnes)',
       'Seeded area (acres)', 'Seeded area (hectares)',
       'Total farm value (dollars)'],
      dtype='object')

In [51]:
for i in df.columns:
    print(i)

REF_DATE
GEO
Type of crop
Average farm price (dollars per tonne)
Average yield (kilograms per hectare)
Production (metric tonnes)
Seeded area (acres)
Seeded area (hectares)
Total farm value (dollars)

In [52]:
df.count()

REF_DATE                                  10273
GEO                                       10273
Type of crop                              10272
Average farm price (dollars per tonne)    10243
Average yield (kilograms per hectare)     10246
Production (metric tonnes)                10245
Seeded area (acres)                        9873
Seeded area (hectares)                     9847
Total farm value (dollars)                10273
dtype: int64

In [53]:
df['GEO'].unique()

array(['AB', 'BC', 'CA', 'MA', 'MP', 'NB', 'NS', 'ON', 'PP', 'PEI', 'QU',
       'SK', ' ', 'NL'], dtype=object)

In [54]:
df.nunique()

REF_DATE                                    76
GEO                                         14
Type of crop                                23
Average farm price (dollars per tonne)     829
Average yield (kilograms per hectare)     1510
Production (metric tonnes)                4697
Seeded area (acres)                       4286
Seeded area (hectares)                    3424
Total farm value (dollars)                6576
dtype: int64

In [55]:
df.isnull().sum()

REF_DATE                                    0
GEO                                         0
Type of crop                                1
Average farm price (dollars per tonne)     30
Average yield (kilograms per hectare)      27
Production (metric tonnes)                 28
Seeded area (acres)                       400
Seeded area (hectares)                    426
Total farm value (dollars)                  0
dtype: int64

# Data Pre-processing

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10273 entries, 0 to 10272
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   REF_DATE                                10273 non-null  int64
 1   GEO                                     10273 non-null  object
 2   Type of crop                            10272 non-null  object
 3   Average farm price (dollars per tonne)  10243 non-null  float64
 4   Average yield (kilograms per hectare)   10246 non-null  float64
 5   Production (metric tonnes)              10245 non-null  float64
 6   Seeded area (acres)                     9873 non-null   float64
 7   Seeded area (hectares)                  9847 non-null   float64
 8   Total farm value (dollars)              10273 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 722.4+ KB

In [57]:
df.isnull().sum()

REF_DATE                                    0
GEO                                         0
Type of crop                                1
Average farm price (dollars per tonne)     30
Average yield (kilograms per hectare)      27
Production (metric tonnes)                 28
Seeded area (acres)                       400
Seeded area (hectares)                    426
Total farm value (dollars)                  0
dtype: int64

In [58]:
df['GEO'].isnull().sum()

0

# Dealing with Null Values

In [59]:
def fillNaMean(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Average farm price (dollars per tonne)', 'Average yield (kilograms per hectare)', 'Production (metric tonnes)', 'Seeded area (acres)']
fillNaMean(columns)

In [60]:
def fillNaMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Type of crop', 'Average farm price (dollars per tonne)', 'Seeded area (hectares)', 'Total farm value (dollars)']
fillNaMode(columns)

In [61]:
df.isnull().sum()

REF_DATE                                  0
GEO                                       0
Type of crop                              0
Average farm price (dollars per tonne)    0
Average yield (kilograms per hectare)     0
Production (metric tonnes)                0
Seeded area (acres)                       0
Seeded area (hectares)                    0
Total farm value (dollars)                0
dtype: int64

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10273 entries, 0 to 10272
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   REF_DATE                                10273 non-null  int64
 1   GEO                                     10273 non-null  object
 2   Type of crop                            10273 non-null  object
 3   Average farm price (dollars per tonne)  10273 non-null  float64
 4   Average yield (kilograms per hectare)   10273 non-null  float64
 5   Production (metric tonnes)              10273 non-null  float64
 6   Seeded area (acres)                     10273 non-null  float64
 7   Seeded area (hectares)                  10273 non-null  float64
 8   Total farm value (dollars)              10273 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 722.4+ KB

In [63]:
def changeFloattoInt64(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Average farm price (dollars per tonne)', 'Average yield (kilograms per hectare)', 'Production (metric tonnes)', 'Seeded area (acres)', 'Seeded area (hectares)']
changeFloattoInt64(columns)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10273 entries, 0 to 10272
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   REF_DATE                                10273 non-null  int64
 1   GEO                                     10273 non-null  object
 2   Type of crop                            10273 non-null  object
 3   Average farm price (dollars per tonne)  10273 non-null  int64
 4   Average yield (kilograms per hectare)   10273 non-null  int64
 5   Production (metric tonnes)              10273 non-null  int64
 6   Seeded area (acres)                     10273 non-null  int64
 7   Seeded area (hectares)                  10273 non-null  int64
 8   Total farm value (dollars)              10273 non-null  int64
dtypes: int64(7), object(2)
memory usage: 722.4+ KB

In [65]:
df.drop('GEO', axis=1, inplace=True)
df.drop('Type of crop', axis=1, inplace=True)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10273 entries, 0 to 10272
Data columns (total 7 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   REF_DATE                                10273 non-null  int64
 1   Average farm price (dollars per tonne)  10273 non-null  int64
 2   Average yield (kilograms per hectare)   10273 non-null  int64
 3   Production (metric tonnes)              10273 non-null  int64
 4   Seeded area (acres)                     10273 non-null  int64
 5   Seeded area (hectares)                  10273 non-null  int64
 6   Total farm value (dollars)              10273 non-null  int64
dtypes: int64(7)
memory usage: 561.9 KB

In [67]:
df.to_csv(r'cleaned-data.csv', index=False, header=True)

In [68]:
df.head(2)

,REF_DATE,Average farm price (dollars per tonne),Average yield (kilograms per hectare),Production (metric tonnes),Seeded area (acres),Seeded area (hectares),Total farm value (dollars)
0,1908,15,1585,84000,129800,53000,1296
1,1908,29,950,1900,5900,2000,56

# Data Splitting / Train-Test Split

In [106]:
X = df.iloc()[:, :-1]
y = df.iloc()[:, -1]

In [107]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [108]:
X_train

,REF_DATE,Average farm price (dollars per tonne),Average yield (kilograms per hectare),Production (metric tonnes),Seeded area (acres),Seeded area (hectares)
0,1908,15,1585,84000,129800,53000
1,1908,29,950,1900,5900,2000
2,1908,18,1675,352000,519400,210000
3,1908,23,1665,5000,6500,3000
4,1908,0,18100,38100,5200,2100
...,...,...,...,...,...,...
8213,1971,97,795,11300,35000,14200
8214,1971,10,39620,210000,13000,5300
8215,1971,70,1000,100,300,100
8216,1971,57,2560,7300,7000,2850
8217,1971,32,2200,79900,89600,36300

In [109]:
y_train

0       1296
1         56
2       6316
3        117
4        208
        ...
8213    1095
8214    2194
8215       7
8216     415
8217    2590
Name: Total farm value (dollars), Length: 8218, dtype: int64

In [110]:
X_test

,REF_DATE,Average farm price (dollars per tonne),Average yield (kilograms per hectare),Production (metric tonnes),Seeded area (acres),Seeded area (hectares)
8218,1971,62,2350,2350,2400,1000
8219,1971,33,2335,1400,1400,600
8220,1971,30,6800,1415000,513000,208000
8221,1971,46,2045,90200,109000,44100
8222,1971,32,2315,13099250,13980500,5657500
...,...,...,...,...,...,...
10268,1984,78,2870,2087000,1800000,728000
10269,1984,176,1420,11485000,20000000,8094000
10270,1984,188,1200,1633000,3350000,1356000
10271,1984,175,1460,9607000,16300000,6596000
10272,1984,155,1730,245000,1310066,0

In [111]:
y_test

8218         146
8219          46
8220       42510
8221        4176
8222      412641
          ...
10268     162786
10269    2026204
10270     307004
10271    1681225
10272      37975
Name: Total farm value (dollars), Length: 2055, dtype: int64

In [112]:
print("TrainX:",X_train.shape)
print("TrainY:",y_train.shape)
print("TestX:",X_test.shape)
print("TestY:",y_test.shape)

TrainX: (8218, 6)
TrainY: (8218,)
TestX: (2055, 6)
TestY: (2055,)

# Training/Apply Regressor

In [113]:
model = LogisticRegression()

In [114]:
model.fit(X_train, y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [115]:
X_train_prediction = model.predict(X_train)

In [122]:
import pickle

pickle.dump(model, open("model.pkl", "wb"))

In [123]:
print(X_train_prediction)

[1259323 3311439 1259323 ...       0  149091 1259323]

In [124]:
training_data_accuracy = accuracy_score(X_train_prediction, y_train)
print('Accuracy Score of Training Data: ', training_data_accuracy)

Accuracy Score of Training Data:  0.03869554636164517

In [125]:
# Accuracy on test data
X_test_prediction = model.predict(X_test)

In [126]:
print(X_test_prediction)

[      0       0  512731 ...  920100 1224830     458]

In [127]:
test_data_accuracy = accuracy_score(y_test, X_test_prediction)
print('Accuracy score of test data : ', test_data_accuracy)

Accuracy score of test data :  0.01800486618004866